/*common*/
body {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  color: #ffffff;
}

a {
  text-decoration: none;
}

/*header*/
header {

}
header .inner {
  background-color: #181818;
  width: 1920px;
  height: 160px;
  margin: auto;
  position: relative;
}

header .logo {
  width: auto;
  height: auto;
  left: auto;
}

/*main-menu*/
header .inner ul.main-menu {
  padding: 0%;
  background-color: #af4747;
  right: 0;
  margin: 0 auto;
  display: flex;

}

header .inner ul.main-menu .item {
  background-color: #a9b95e;
  display: flex;
  right: 0 auto;
 
}

header .inner ul.main-menu .item .item__name {
  background-color: #5b4888;
  display: flex;
}

header .inner ul.main-menu .item .item__contents {
  background-color: #4c8856;
}

header .inner ul.main-menu .item .item__contents .contents__menu {
  background-color: #4771af;
}
header .inner ul.main-menu .item .item__contents .contents__menu .inner {
  background-color: #6e90c4;
}