/*common*/
body {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4;
    color: #990303;
}

a {
    text-decoration: none;
}

/*header*/
header {}

header .inner {
    background-color: #131313;
    width: 900px auto;
    height: 160px;
    margin: auto;
    position: relative;



}

header .logo {
    background-color: #131313;
    width: auto;
    height: auto;
    left: auto;
}

/*main-menu*/
header .inner .main-menu {
    display: flex;
    justify-content: flex-end; /* 이전에는 center로 설정되어 있었습니다 */
    align-items: center;
  }
  

/*main-menu*/
header .inner .main-menu .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 10px;
 
}


header .inner .main-menu .item .item__name {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 15px;
    right: auto;
    color: aliceblue;
}
header .inner .main-menu .item .item__name:hover {
    background-color: #fff;
    color: rgba(19, 4, 4, 0.808);
    border-radius: 6px 6px 0 0;
}

header .inner .main-menu .item .item__contents {
    font-size: 14px;
}

/* hover effect */
/* hover effect */
header .inner .main-menu .item:hover .item__contents {
    display: none;
    position: absolute;
    top: 40px;
    background-color: #fff;
    color: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  }
  
  header .inner .main-menu .item:hover .item__contents.show {
    display: block; /* 마우스 오버 시 보조 메뉴 표시 */
  }
  
  header .inner .main-menu .item:hover {
    transform: scale(1.3); /* 마우스 오버 시 크기가 커지는 효과 */
    z-index: 1; /* 보조 메뉴가 메뉴를 가리지 않도록 z-index값 조절 */
  }
  
  header .inner .main-menu .item:hover::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    border: 5px solid transparent;
    border-top-color: #131313;
  }

  header .main-menu .item__contents ul li ul {
    display: flex;
    flex-direction: column;
  }
  
  header .main-menu .item__contents ul li ul li {
    margin-bottom: 10px;
  }
  
  header .main-menu .item__contents .content__texture {
    position: absolute;
    top: -20px;
    left: 20px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 20px 20px 20px;
    border-color: transparent transparent #222 transparent;
  }
